/*colors*/

$title_Colors: #505D68;
$subtitle_colors:#505D68;
$paragraph01_color:#A1AEB7;
$yellow_text:#ECF010;
$links_color:#424B5A;


$background_color: #A1AEB7;
$yelow_background:#ECF010;
$grey01_background:#424B5A;
$grey02_background: #A1AEB7;
$grey03_background:#C2D1D9;


$hero01_typography_size:90px;
$hero02_typography_size:40px;

$title_typography_size:42px;
$subtitle_typography_size:21px;
$paragraph_typography_size:14px;
$links_typography_size:12px;
$phototitle_typography_size:32px;
$photosubtitle_typography_size:20px;
$countnumber_typography_size:64px;














