@import 'variables';

@mixin title-typography ($color) {
    font-size: $title_typography_size;
    font-family:$fontFamilly;
    font-weight:$font-bold;
    color:$color;
    text-decoration: none;
    line-height: 64px;
}

@mixin subtitle-typography ($color) {
    font-size:$subtitle_typography_size;
    font-family:$fontFamilly;
    font-weight:$font-bold;
    color:$color;
    text-decoration: none;
    line-height: 21px;
}

@mixin paragraph-typography ($color) {
    font-size:$paragraph_typography_size;
    font-family:$fontFamilly;
    font-weight:$font-light;
    color:$color;
    text-decoration: none;
    line-height: 21px;
}

@mixin links-typography ($color) {
    font-size:$links_typography_size;
    font-family:$fontFamilly;
    font-weight:$font-bold;
    color:$color;
    text-decoration: none;
    line-height: 14px;
}

@mixin imgtitle-typography ($color) {
    font-size:$imgtitle_typography_size;
    font-family:$fontFamilly;
    font-weight:$font-bold;
    color:$color;
    text-decoration: none;
    line-height: 21px;
}

@mixin imgsubtitle-typography ($color) {
    font-size:$imgsubtitle_typography_size;
    font-family:$fontFamilly;
    font-weight:$font-light;
    color:$color;
    text-decoration: none;
    line-height: 21px;
}

@mixin Ptoject_Img ($img01, $img01b){
    
         background-repeat: no-repeat;
         background-image:$img01 ;
         width: 100%;
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         

            h3{
                text-align: center;
            }

            p{
                text-align: center;
            }
            
            &:hover{
                background-image: $img01b;
                transform: scale(1.1,1.1);
                border-radius: 5px;
                transition: all 1s;
            }
    
}