@import '../Scss/bases/variables';
@import '../Scss/bases/mixin.scss';
@import '../Scss/Components/hero';
@import '../Scss/Components/service';
@import '../Scss/Components/work';
@import '../Scss/Components/contact';
@import '../Scss/Components/footer';






body{
    
        background-color:$background_color;
        display: grid;
        margin: 5px;
    
}

.Title{
    @include title-typography($title_Colors);
}

p{
    @include paragraph-typography ($paragraph01_color);
}

.Subtitle{
    @include subtitle-typography ($subtitle_colors);
}

ul{
    text-decoration: none;

    li{
        @include links-typography ($links_color);
    }
}

li{
    @include links-typography ($links_color);
}



.img-title{
    @include imgtitle-typography ($yellow_text);
}

.img-subtitle{
    @include imgsubtitle-typography ($yellow_text);
}

