#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
#home .intro {
  width: 100%;
  height: 800px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-image: url(../Multimedia/Img/Hero_Background.png);
}
#home .intro .H {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-end;
  padding: 5px;
}
#home .intro .H p {
  font-size: 90px;
  color: #ECF010;
  font-weight: 700;
  animation-name: mover;
  animation-duration: 2s;
}
#home .intro .I {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
  animation-name: mover02;
  animation-duration: 2s;
}
#home .intro .I p {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 5px;
  font-size: 40px;
  color: #505D68;
  font-weight: 400;
}
#home .intro .I h1 {
  display: flex;
  width: 335px;
  height: 56px;
  align-items: flex-end;
  padding: 5px;
  margin-left: 20px;
  background-color: #ECF010;
  font-size: 40px;
  color: #505D68;
  font-weight: 500;
}
#home .me {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 100px;
  align-items: center;
}
#home .me .description {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 30px;
  padding: 5px;
  align-items: flex-end;
}
#home .me .description span {
  padding: 5px;
  text-align: end;
}
#home .me .description a {
  padding: 5px;
  justify-content: end;
}
#home .me .description a :hover {
  background-color: #ECF010;
  transition: all 1s;
  transform: scale(1.1, 1.1);
  border-radius: 20px;
}
#home .me .photo {
  height: 200px;
}
@media (max-width: 768px) and (min-width: 577px) {
  #home .intro {
    height: 900px;
    padding-left: 20px;
  }
  #home .intro .H p {
    font-size: 60px;
  }
  #home .intro .I p {
    font-size: 30px;
  }
  #home .intro .I h1 {
    font-size: 30px;
  }
  #home .me {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
  }
  #home .me .description {
    align-items: center;
  }
  #home .me .description span {
    text-align: center;
  }
  #home .me .description a {
    justify-content: center;
    background-color: yellow;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  #home .me .photo {
    height: 200px;
    margin: 30px;
  }
}
@media (max-width: 576px) {
  #home .intro {
    height: 900px;
    padding-left: 20px;
  }
  #home .intro .H p {
    font-size: 60px;
  }
  #home .intro .I p {
    font-size: 30px;
  }
  #home .intro .I h1 {
    font-size: 30px;
  }
  #home .me {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
  }
  #home .me .description {
    align-items: center;
  }
  #home .me .description span {
    text-align: center;
  }
  #home .me .description a {
    justify-content: center;
    background-color: yellow;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  #home .me .photo {
    height: 200px;
    margin: 30px;
  }
}

#service {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service .Title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
#service .service-card {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
}
#service .service-card .card {
  height: auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  justify-items: center;
  border: 1px solid transparent;
}
#service .service-card .card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service .service-card .card div .service_icon {
  display: flex;
  border-radius: 50%;
  height: 113px;
  width: 113px;
  margin: 50px;
  align-items: center;
  justify-content: center;
  background-color: #EAEBF1;
}
#service .service-card .card div .service_icon img {
  background-color: #EAEBF1;
}
#service .service-card .card div .service_description {
  height: 120px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}
#service .service-card .card div .service_plus {
  margin-bottom: 5px;
}
#service .service-card .card div .service_plus :hover {
  background-color: #ECF010;
  transition: all 1s;
  transform: scale(1.1, 1.1);
  border-radius: 20px;
}

#work .Title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#work nav {
  width: 100%;
}
#work nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  min-height: 13px;
  margin-bottom: 10px;
  padding: 10px;
}
#work nav ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  border-radius: 3px;
  margin: 5px;
}
#work nav ul li p {
  margin-top: 10px;
}
#work nav ul li:hover {
  transform: scale(1.1, 1.1);
  background-color: #ECF010;
  transition: all 1s;
}
#work .recent_project {
  width: 100%;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
  grid-auto-flow: dense;
}
#work .recent_project .p01 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_01.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p01 h3 {
  text-align: center;
}
#work .recent_project .p01 p {
  text-align: center;
}
#work .recent_project .p01:hover {
  background-image: url(../Multimedia/Img/Projetc_01B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p02 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_02.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p02 h3 {
  text-align: center;
}
#work .recent_project .p02 p {
  text-align: center;
}
#work .recent_project .p02:hover {
  background-image: url(../Multimedia/Img/Projetc_02B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p03 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_03.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p03 h3 {
  text-align: center;
}
#work .recent_project .p03 p {
  text-align: center;
}
#work .recent_project .p03:hover {
  background-image: url(../Multimedia/Img/Projetc_03B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p04 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_04.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p04 h3 {
  text-align: center;
}
#work .recent_project .p04 p {
  text-align: center;
}
#work .recent_project .p04:hover {
  background-image: url(../Multimedia/Img/Projetc_04B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p05 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_05.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p05 h3 {
  text-align: center;
}
#work .recent_project .p05 p {
  text-align: center;
}
#work .recent_project .p05:hover {
  background-image: url(../Multimedia/Img/Projetc_05B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p06 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_06.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p06 h3 {
  text-align: center;
}
#work .recent_project .p06 p {
  text-align: center;
}
#work .recent_project .p06:hover {
  background-image: url(../Multimedia/Img/Projetc_06B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p07 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_07.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p07 h3 {
  text-align: center;
}
#work .recent_project .p07 p {
  text-align: center;
}
#work .recent_project .p07:hover {
  background-image: url(../Multimedia/Img/Projetc_07B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p08 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_08.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p08 h3 {
  text-align: center;
}
#work .recent_project .p08 p {
  text-align: center;
}
#work .recent_project .p08:hover {
  background-image: url(../Multimedia/Img/Projetc_08B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}
#work .recent_project .p09 {
  background-repeat: no-repeat;
  background-image: url(../Multimedia/Img/Projetc_09.png);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#work .recent_project .p09 h3 {
  text-align: center;
}
#work .recent_project .p09 p {
  text-align: center;
}
#work .recent_project .p09:hover {
  background-image: url(../Multimedia/Img/Projetc_09B.png);
  transform: scale(1.1, 1.1);
  border-radius: 5px;
  transition: all 1s;
}

#contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}
#contact .Title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#contact .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
#contact .info .contact-items {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 50px;
}
#contact .info .contact-items .contact-data {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#contact .info .contact-items .contact-data .Subtitle {
  margin-bottom: 10px;
}
#contact .info .contact-items .items div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#contact .info .contact-items .items div img {
  margin: 5px;
  padding: 3px;
}
#contact .info .contact-items .items div p {
  margin: 5px;
  display: flex;
  align-items: center;
}
#contact .info .contact-mail {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
#contact .info .contact-mail .contact-form {
  width: 100%;
  height: 280px;
}

footer {
  background-color: #EAEBF1;
}
footer nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
footer nav a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}
footer nav a :hover {
  background-color: #ECF010;
  transform: scale(1.1, 1.1);
  transition: all 1s;
}

.hero02 {
  height: 397px;
  background-image: url(../Multimedia/Img/Hero_Background.png);
}

.aboutMe {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 5px;
  height: 400px;
  align-items: center;
}
.aboutMe .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-right: 20px;
}
.aboutMe .descript {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.aboutMe .descript .what {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.aboutMe .descript .what .subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  margin-right: 60px;
  padding: 3px;
}
.aboutMe .descript .what p {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
}
.aboutMe .descript .about {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.aboutMe .descript .about .subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  margin-right: 70px;
  padding: 3px;
}
.aboutMe .descript .about p {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
}

.process {
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.process .intro {
  width: 50%;
  margin-top: 100px;
}
.process .intro .Title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.process .intro p {
  text-align: center;
}
.process .graphicProcess {
  margin-top: 100px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.process .graphicProcess .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.process .graphicProcess .step .N {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #A1AEB7;
  font-weight: 700;
  font-size: #424B5A;
  color: white;
}
.process .graphicProcess .step .N:hover {
  border: 1px solid #ECF010;
  transform: scale(1.2, 1.2);
  transition: all 1s;
}
.process .graphicProcess .step p {
  text-align: center;
  font-weight: 500;
}

.count_project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.count_project .intro .Title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.count_project .intro p {
  text-align: center;
}
.count_project .count_card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}
.count_project .count_card .card01 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.count_project .count_card .card01 .N {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  color: #ECF010;
}
.count_project .count_card .card01 .Subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #A1AEB7;
}
.count_project .count_card .card01 p {
  text-align: center;
}

.example_projects {
  margin-bottom: 100px;
}
.example_projects .intro {
  margin-bottom: 100px;
}
.example_projects .intro .Title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.example_projects .intro p {
  text-align: center;
}
.example_projects .project_card_a {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.example_projects .project_card_a .carrousel_Photos {
  width: 40%;
  height: 280px;
  height: auto;
  border-radius: 5px;
  background-color: #424B5A;
}
.example_projects .project_card_a .info_project {
  width: 50%;
  margin-left: 30px;
  margin-top: 10px;
}
.example_projects .project_card_a .info_project .year {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_a .info_project .year .T {
  font-size: 12px;
  height: 12px;
}
.example_projects .project_card_a .info_project .year .d {
  font-weight: 700;
}
.example_projects .project_card_a .info_project .tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_a .info_project .tools .T {
  font-size: 12px;
  height: 12px;
}
.example_projects .project_card_a .info_project .tools .d {
  font-weight: 700;
}
.example_projects .project_card_a .info_project .skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_a .info_project .skill .T {
  font-size: 12px;
  height: 12px;
}
.example_projects .project_card_a .info_project .skill .d {
  font-weight: 700;
}
.example_projects .project_card_a .info_project .Descrip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_a .info_project .Descrip .T {
  width: 100%;
  font-size: 12px;
  height: 20px;
  border-bottom: 1px solid #A1AEB7;
}
.example_projects .project_card_a .info_project .Descrip .d {
  font-weight: 400;
}
.example_projects .project_card_b {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.example_projects .project_card_b .carrousel_Photos {
  width: 40%;
  height: 280px;
  height: auto;
  border-radius: 5px;
  background-color: #424B5A;
}
.example_projects .project_card_b .info_project {
  width: 50%;
  margin-right: 30px;
  margin-top: 10px;
}
.example_projects .project_card_b .info_project .year {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_b .info_project .year .T {
  font-size: 12px;
  height: 12px;
}
.example_projects .project_card_b .info_project .year .d {
  font-weight: 700;
}
.example_projects .project_card_b .info_project .tools {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_b .info_project .tools .T {
  font-size: 12px;
  height: 12px;
}
.example_projects .project_card_b .info_project .tools .d {
  font-weight: 700;
}
.example_projects .project_card_b .info_project .skill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_b .info_project .skill .T {
  font-size: 12px;
  height: 12px;
}
.example_projects .project_card_b .info_project .skill .d {
  font-weight: 700;
}
.example_projects .project_card_b .info_project .Descrip {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example_projects .project_card_b .info_project .Descrip .T {
  width: 100%;
  font-size: 12px;
  height: 20px;
  border-bottom: 1px solid #A1AEB7;
  text-align: end;
}
.example_projects .project_card_b .info_project .Descrip .d {
  font-weight: 400;
  text-align: end;
}

body {
  background-color: #F2F5F7;
  display: grid;
  margin: 5px;
}

.Title {
  font-size: 42px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #505D68;
  text-decoration: none;
  line-height: 64px;
}

p {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #A1AEB7;
  text-decoration: none;
  line-height: 21px;
}

.Subtitle {
  font-size: 21px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #505D68;
  text-decoration: none;
  line-height: 21px;
}

ul {
  text-decoration: none;
}
ul li {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #424B5A;
  text-decoration: none;
  line-height: 14px;
}

li {
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #424B5A;
  text-decoration: none;
  line-height: 14px;
}

.img-title {
  font-size: 32px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #ECF010;
  text-decoration: none;
  line-height: 21px;
}

.img-subtitle {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #ECF010;
  text-decoration: none;
  line-height: 21px;
}

/*# sourceMappingURL=style.css.map */
