footer{
    background-color:$grey04_background ;
    nav{
        width: 100%;
      
        padding: 10px;
      
        display: flex;
        justify-content: center;

        a{

            img{
   
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 5px;
                
            }

            & :hover{
                background-color:$yelow_background ;
                transform: scale(1.1,1.1);        
                transition: all 1s;
                
            }
           
        }

       

       

    
    }
}