@import '../bases/variables';
@import '../bases/mixin.scss';


#home{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    height: 960px;
   
    
   
    .intro{
           
            width: 100%;
            height: 800px;
            padding-left: 20px;

            display: flex;
            flex-direction: column;
           
            background-image: url(../Multimedia/Img/Hero_Background.png);
            

            .H{
                
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;
                padding: 5px;
                
              
                p{
                   
                    font-size: 90px;
                    color:$yellow_text ;
                    font-weight:$font-bold ; 
                    
                }
 
            }

            .I{
                
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                
                padding: 5px;

                p{
                    display: flex;
                    height: 56px;
                    align-items:center;
                    padding: 5px;
                   
                    font-size: 40px;
                    color:$subtitle_colors ;
                    font-weight:$font-light ;
                    
                    
                }

                h1{
                    display: flex;
                    width:335px;
                    height: 56px;
                    align-items:flex-end;
                    padding: 5px;
                    margin-left: 20px;
                    background-color: $yelow_background;   
                    font-size: 40px;
                    color:$subtitle_colors ;
                    font-weight:$font-medium ;         
                }
            }


    }

    .me{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 50px;
        margin-top: 100px;
        align-items: center;
        
       
       

        

        .description{
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            margin-right: 30px;
            padding: 5px;
            align-items: flex-end;
         
            span {
            
               padding: 5px;
               text-align: end;
               
            }

            a{
                padding: 5px;
                justify-content: end;
            }           
        }

        .photo{
            height: 200px;
        }
    }

}