@import '../bases/variables';
@import '../bases/mixin.scss';


#home{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    
   
    
   
    .intro{
           
            width: 100%;
            height: 800px;
            padding-left: 20px;

            display: flex;
            flex-direction: column;
           
            background-image: url(../Multimedia/Img/Hero_Background.png);
            

            .H{
                
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;
                padding: 5px;
                                         
                p{
                   
                    font-size: 90px;
                    color:$yellow_text ;
                    font-weight:$font-bold ; 
                    animation-name: mover;
                    animation-duration: 2s;
                    
                }

            }

            .I{
                
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                
                padding: 5px;

                animation-name: mover02;
                animation-duration: 2s;

                p{
                    display: flex;
                    height: 56px;
                    align-items:center;
                    padding: 5px;
                   
                    font-size: 40px;
                    color:$subtitle_colors ;
                    font-weight:$font-light ;
                    
                    
                }

                h1{
                    display: flex;
                    width:335px;
                    height: 56px;
                    align-items:flex-end;
                    padding: 5px;
                    margin-left: 20px;
                    background-color: $yelow_background;   
                    font-size: 40px;
                    color:$subtitle_colors ;
                    font-weight:$font-medium ;         
                }
             
            }

    }

    .me{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 100px;
        align-items: center;
        
       
        .description{
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            margin-right: 30px;
            padding: 5px;
            align-items: flex-end;
         
            span {
            
               padding: 5px;
               text-align: end;
               
            }

            a{
                padding: 5px;
                justify-content: end;

                & :hover{
                    background-color:  $yelow_background;
                    transition: all 1s;
                    transform: scale(1.1,1.1);
                    border-radius: 20px; 
                 }
            }           
        }

        .photo{
            height: 200px;
        }
    }

    @media (max-width: 768px) and (min-width: 577px) {

        .intro{
           
            
            height: 900px;
            padding-left: 20px;

            

            .H{
                              
                p{                  
                    font-size: 60px;                   
                }
            }

            .I{
                
                p{
                    font-size: 30px;
                }

                h1{                     
                    font-size: 30px;       
                }
             
            }

    }



        .me{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
           
            
           
            .description{
                
                align-items: center;
             
                span {
                  text-align: center
                   
                }
    
                a{
                   
                    justify-content: center;
                    background-color: yellow;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
  
                }           
            }
    
            .photo{
                height: 200px;
                margin: 30px;
            }
        }
        

       
    }

    @media (max-width: 576px) {

        .intro{
           
            
            height: 900px;
            padding-left: 20px;

            

            .H{
                              
                p{                  
                    font-size: 60px;                   
                }
            }

            .I{
                
                p{
                    font-size: 30px;
                }

                h1{                     
                    font-size: 30px;       
                }
             
            }

    }
        .me{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            
            
           
            .description{
                
                align-items: center;
             
                span {
                  text-align: center
                   
                }
    
                a{
                   
                    justify-content: center;
                    background-color: yellow;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
  
                }           
            }
    
            .photo{
                height: 200px;
                margin: 30px;
            }
        }
       
    }
        
}