@import '../bases/variables';
@import '../bases/mixin.scss';

#service{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



    .Title{  
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .service-card{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 50px;
       


        .card{
            
            height: auto;
            margin-bottom: 70px;
            display: flex;
            flex-direction: column;
            align-content:space-between;
            text-align: center;
            justify-items: center;
            border: 1px solid transparent;
            
            div{

                display: flex;
                flex-direction: column;
                align-items: center;


                .service_icon{
                    display: flex;
                    border-radius: 50%;
                    height: 113px;
                    width: 113px;
                    margin: 50px;
                    align-items: center;
                    justify-content: center;
                    background-color:$grey04_background;

                    img{
                        background-color:$grey04_background;
                    
                    }

                    
                }

                .service_description{
                    height: 120px;
                    width: 100%;
                    padding: 5px;
                    margin-bottom: 5px;
                    
                    
                }

                .service_plus{
                    margin-bottom: 5px;

                    & :hover{
                        background-color:  $yelow_background;
                        transition: all 1s;
                        transform: scale(1.1,1.1);
                        border-radius: 20px; 
                        }
                }
            }

        }
       
    } 

    @media (max-width: 768px) and (min-width: 577px){

        .service-card{
            width: 100%;
            grid-template-columns:1fr 1fr;
            grid-template-rows: auto;

            .card{
                .service_plus{
                    img{
                        align-items: center;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background-color: $yelow_background;
                    }

                }
            }

        }

    }

    @media (max-width: 576px){

        .service-card{
            width: 90%;
            grid-template-columns:1fr;
            grid-template-rows: auto;

            .card{
            
                height: auto;
               
                display: flex;
                flex-direction: row;
                justify-content: center;
                border: 1px solid transparent;
                border-radius: 5px;
                background-color: $grey04_background;
                padding: 10px;

                .service_icon{
                   border: 2px solid  $yelow_background;

                 
                    
                }

                .service_plus{
                    

                    img{
                        align-items: center;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background-color: $yelow_background;
                    }

                }
                
                
    
            }

            
        }

    }

}