@import '../bases/variables';
@import '../bases/mixin.scss';

#service{
    margin-top: 100px;
   
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;

    .Title{
        
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
        

    }

    .service-card{
        width: 80%;
        

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

     

        

      
        
      

        .card{
            width:150px;
            height: 350px;
            margin-bottom: 70px;
            display: flex;
            flex-direction: column;
            align-content: stretch;
            text-align: center;
            border: 1px solid transparent;
            
           

           
   
    

           

        

                div{

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    

                  
                   

                 

                    .service_icon{
                        display: flex;
                        border-radius: 50%;
                        height: 113px;
                        width: 113px;
                        margin: 50px;
                        align-items: center;
                        justify-content: center;
                        background-color:$grey04_background;

                        img{
                            background-color:$grey04_background;
                        
                        }

                      
                    }

                    .service_description{
                        height: 120px;
                        width: 100%;
                        padding: 5px;
                        margin-bottom: 5px;
                      
                        
                    }

                    .service_plus{
                        margin-bottom: 5px;

                        & :hover{
                            background-color:  $yelow_background;
                            transition: all 1s;
                            transform: scale(1.1,1.1);
                            border-radius: 20px; 
                         }
                    }



                    
        

                }
            
                
        }
       


    } 

}