@import '../bases/variables';


#work{

    .Title{

        width: 100%;
        margin-bottom: 20px;
        text-align: center;

    }

    nav{

        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            margin-top: 30px;
            min-height:13px;  
            margin-bottom: 10px;
            padding: 10px;
           
           

            li{
                display: flex;
                justify-content: center;
                align-content: center;
                width: 150px;
                height: 40px;
                text-decoration: none;
                $grey04_background:$grey04_background;
              
                border-radius: 3px;
                margin: 5px;

                p{
                    margin-top: 10px;
                      
                }        

                &:hover{
                    transform: scale(1.1,1.1);
                    background-color:$yelow_background;
                    transition: all 1s;
                }
            }
    }

    }

    .recent_project{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-auto-rows: minmax(400px , auto);

        gap: 5px;
        grid-auto-flow: dense;

        .p01{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_01.png), url(../Multimedia/Img/Projetc_01b.png));
        }

        .p02{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_02.png), url(../Multimedia/Img/Projetc_02b.png));
        }

        .p03{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_03.png), url(../Multimedia/Img/Projetc_03b.png));
        }

        .p04{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_04.png), url(../Multimedia/Img/Projetc_04b.png));
        }

        .p05{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_05.png), url(../Multimedia/Img/Projetc_05b.png));
        }

        .p06{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_06.png), url(../Multimedia/Img/Projetc_06b.png));
        }

        .p07{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_07.png), url(../Multimedia/Img/Projetc_07b.png));
        }

        .p08{
            @include Ptoject_Img ( url(../Multimedia/Img/Projetc_08.png), url(../Multimedia/Img/Projetc_08b.png));
        }

        .p09{

           @include Ptoject_Img ( url(../Multimedia/Img/Projetc_09.png), url(../Multimedia/Img/Projetc_09b.png));
            
        }






    }







}